@import "~scss/aggregation";
.button{
  background: red;
  width: 50vw;
  height: 50vw;
  animation: moveToRight 0s ease 1.3s 1 forwards;
}

.hidden{
  position: fixed;
  top: 0;
  z-index: 8000;
  width: 100vw;
  height: 100vh;
  background: #fff;
  animation-name: fadeout;
  animation-duration: 2.5s;
  animation-delay: 3.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

$i: 1;
@for $i from 1 through 20 {
  .cover_#{$i}{
    z-index: 9000;
    position: fixed;
    top: #{($i - 1) * 5}vh;
    width: 0vw;
    height: 5vh;
    background-color: #3333CC;
    animation-name: lineSplitOpenClose;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: (random(500) + 1000) + ms;
  }
}
